In [1]:
import pandas as pd
try:
    # Load the TSV file, excluding column 4 by specifying the columns you want to include
    df = pd.read_csv('C:\\Users\\shaun\\Downloads\\title.basicsupdated.tsv',sep='\t',usecols=lambda col: col not in ['endYear', 'runtimeMinutes','originalTitle'],dtype={'startYear': 'str','genres': 'str'},low_memory=False)    
    print("Dataset loaded successfully!")
except UnicodeDecodeError as e:
    print("Error loading dataset:", e)

Dataset loaded successfully!

In [ ]:
print(df.head())

In [2]:
df2 = pd.read_csv('C:\\Users\\shaun\\Downloads\\title.ratings.tsv',sep='\t')
print(df2.head())
df_crew = pd.read_csv('C:\\Users\\shaun\\Downloads\\title.crew.tsv', sep='\t')
df_names = pd.read_csv('C:\\Users\\shaun\\Downloads\\name.basics.tsv', sep='\t')
print(df_crew.head())
print(df_names.head())
print("done")

      tconst  averageRating  numVotes
0  tt0000001            5.7      2096
1  tt0000002            5.6       282
2  tt0000003            6.5      2112
3  tt0000004            5.4       182
4  tt0000005            6.2      2844
      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N
      nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007

                    primaryProfession                           knownForTitles
0        actor,miscellaneous,producer  tt0050419,tt0072308,tt0053137,tt0027125
1  actress,soundtrack,archive_footage  tt0037382,tt0075213,tt0117057,tt0038355
2   actress,music_department,producer  tt0057345,tt0049189,tt0056404,tt0054452
3       actor,writer,music_department  tt0072562,tt0077975,tt0080455,tt0078723
4               writer,director,actor  tt0050986,tt0069467,tt0083922,tt0050976
done

In [6]:
import pandas as pd

# Assuming df_titles, df_crew, and df_names are already loaded

# Replace \N with NaN for better handling
df_crew.replace('\\N', pd.NA, inplace=True)
df_names.replace('\\N', pd.NA, inplace=True)
print("First step done")
# Map the director and writer IDs to names
df_names_dict = df_names.set_index('nconst')['primaryName'].to_dict()
print("Second step done")
# Convert director and writer IDs in `df_crew` to names and concatenate them, handling NA values
df_crew['directorNames'] = df_crew['directors'].apply(
    lambda x: ', '.join([str(df_names_dict.get(d, '')) for d in x.split(',') if pd.notnull(d)]) if pd.notnull(x) else ''
)
df_crew['writerNames'] = df_crew['writers'].apply(
    lambda x: ', '.join([str(df_names_dict.get(w, '')) for w in x.split(',') if pd.notnull(w)]) if pd.notnull(x) else ''
)

# Drop original `directors` and `writers` columns
df_crew = df_crew.drop(columns=['directors', 'writers'])

First step done
Second step done

NameError: name 'df_titles' is not defined

In [7]:
# Merge with `df_titles`
df_titles = df.merge(df_crew[['tconst', 'directorNames', 'writerNames']], on='tconst', how='left')

# Display the head of the resulting DataFrame
print(df_titles.head())

      tconst titleType            primaryTitle isAdult startYear  \
0  tt0000001     short              Carmencita       0      1894
1  tt0000002     short  Le clown et ses chiens       0      1892
2  tt0000003     short            Poor Pierrot       0      1892
3  tt0000004     short             Un bon bock       0      1892
4  tt0000005     short        Blacksmith Scene       0      1893

                     genres         directorNames writerNames
0         Documentary,Short  William K.L. Dickson
1           Animation,Short         Émile Reynaud
2  Animation,Comedy,Romance         Émile Reynaud
3           Animation,Short         Émile Reynaud
4              Comedy,Short  William K.L. Dickson

In [8]:
# Join df and df2 on 'tconst'
merged_df = pd.merge(df_titles, df2, on='tconst', how='inner')

# Display the first few rows of the merged DataFrame
print(merged_df.head())

      tconst titleType            primaryTitle isAdult startYear  \
0  tt0000001     short              Carmencita       0      1894
1  tt0000002     short  Le clown et ses chiens       0      1892
2  tt0000003     short            Poor Pierrot       0      1892
3  tt0000004     short             Un bon bock       0      1892
4  tt0000005     short        Blacksmith Scene       0      1893

                     genres         directorNames writerNames  averageRating  \
0         Documentary,Short  William K.L. Dickson                        5.7
1           Animation,Short         Émile Reynaud                        5.6
2  Animation,Comedy,Romance         Émile Reynaud                        6.5
3           Animation,Short         Émile Reynaud                        5.4
4              Comedy,Short  William K.L. Dickson                        6.2

   numVotes
0      2096
1       282
2      2112
3       182
4      2844

In [9]:
# Filter for specific title types
filtered_df = merged_df[merged_df['titleType'].isin(['movie', 'tvmovie'])]

# Display the first few rows of the filtered DataFrame
print(filtered_df.head())
filtered_df.to_csv('C:\\Users\\shaun\\Downloads\\movies_datasetnew.csv', sep=',', index=False)

        tconst titleType                   primaryTitle isAdult startYear  \
8    tt0000009     movie                     Miss Jerry       0      1894
144  tt0000147     movie  The Corbett-Fitzsimmons Fight       0      1897
339  tt0000502     movie                       Bohemios       0      1905
374  tt0000574     movie    The Story of the Kelly Gang       0      1906
384  tt0000591     movie               The Prodigal Son       0      1907

                         genres     directorNames  \
8                       Romance   Alexander Black
144      Documentary,News,Sport   Enoch J. Rector
339                          \N  Ricardo de Baños
374  Action,Adventure,Biography      Charles Tait
384                       Drama      Michel Carré

                                           writerNames  averageRating  \
8                                      Alexander Black            5.4
144                                                               5.2
339  Ricardo de Baños, Miguel de Palacios, Guillerm...            4.4
374                                       Charles Tait            6.0
384                                       Michel Carré            5.7

     numVotes
8         215
144       538
339        18
374       937
384        28

In [14]:
print(filtered_df.iloc[318767])

tconst                           tt9860350
titleType                            movie
primaryTitle                    The Asadas
isAdult                                  0
startYear                             2020
genres              Biography,Comedy,Drama
directorNames                 Ryôta Nakano
writerNames      Tomoe Kanno, Ryôta Nakano
averageRating                          7.3
numVotes                              1474
Name: 1491906, dtype: object